{
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}